.Sip {
    min-height: calc(100vh - 64px);

    &__Tabs {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        flex-flow: row nowrap;
        overflow-x: scroll;
        box-shadow: 0 2px 2px rgba(mediumseagreen, .2);

        &__Item {
            flex: 1;
            min-width: 35%;
            border: 1px solid rgba(mediumseagreen, .5);
            color: #fff;
            text-transform: uppercase;

            &:hover,
            &__Active {
                border: 1px solid rgba(mediumseagreen, .7);
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            }
        }
    }

    &__Table {
        padding: 20px;
        table {
            border: 1px solid #efefef;
            color: #efefef;
            border-collapse: collapse;
            text-align: center;
            thead {
                background: #efefef;
                color: mediumseagreen;
                th {
                    border: 1px solid rgba(mediumseagreen, .5);
                    padding: 10px 15px;
                }
            }
            tbody {
                td {
                    border: 1px solid #efefef;
                    padding: 10px 15px;
                }
            }
        }
    }
}