.Header {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 5vw;

    @media (max-width: 600px) {
        justify-content: center;
        flex-flow: row wrap;
    }

    &__Title {
        font-size: 32px;
        font-weight: 400;
    }

    &__Temp {
        font-size: 20px;
        font-weight: 400;
        text-transform: capitalize;
    }

}